{% block footer %}
  <footer id="page-footer" class="footer has-background-light">
    <div class="content has-text-centered">
      <p>
        <strong>Game Dev Quest</strong> by
        <a href="https://skerwe.web.za" title="Knight-Errant Quintin 'Skerwe' Henn">Quintin Henn</a>. The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php" title="MIT License">MIT</a>. The website content is licensed
        <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/" title="Attribution-NonCommercial-ShareAlike License">CC BY NC SA 4.0</a>
      </p>
      <div>
        <a href="http://www.w3.org/html/logo/">
          <img src="https://www.w3.org/html/logo/badge/html5-badge-h-css3-semantics.png" width="165" height="64" alt="HTML5 Powered with CSS3 / Styling, and Semantics" title="HTML5 Powered with CSS3 / Styling, and Semantics">
        </a>
        <a href="https://bulma.io">
          <img src="img/made-with-bulma.png" alt="Made with Bulma" title="Made with Bulma" width="128" height="24">
        </a>
        <a href="http://humanstxt.org/humans.txt">
          <img src="img/humanstxt-isolated-blank.gif" alt="Humans.txt" title="The humans responsible for this website" width="88" height="31">
        </a>
      </div>
    </div>
  </footer>
{% endblock %}