{% block footer %}
  <footer class="footer has-background-light">
    <div>
      <a href="http://www.w3.org/html/logo/">
        <img src="https://www.w3.org/html/logo/badge/html5-badge-h-css3-semantics.png" width="165" height="64" alt="HTML5 Powered with CSS3 / Styling, and Semantics" title="HTML5 Powered with CSS3 / Styling, and Semantics">
      </a>
    </div>
    <div>
      <a href="https://bulma.io">
        <img src="img/made-with-bulma.png" alt="Made with Bulma" width="128" height="24">
      </a>
      <a href="http://humanstxt.org/humans.txt">
        <img src="img/humanstxt-isolated-blank.gif" alt="Humans.txt" width="88" height="31">
      </a>
    </div>
  </footer>
{% endblock %}