{% block header %}
  <header id="page-header">
    <section class="hero has-background-black">
      <div class="hero-body">
        <div class="container">
          <h1 class="title is-1 has-text-white">
            Quest for Game Dev
          </h1>
          <h2 class="subtitle">
            So You Want to Be a Hero
          </h2>
        </div>
      </div>
    </section>
  </header>
{% endblock %}